/*[class*='col-'] {
	
}*/
.blank {
	height: 12px;
	background: #f1f0ed;
}

.navibar {
	height: 50px;
	background: rgb(0,194,175);
	border-bottom: 1px solid #008c7d;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 7px 7px 5px 7px;
}

.nav_locate {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;

}

.fa-angle-down {
	margin-left: 5px;
}

.nav_search {
	height: 30px;
	background: rgb(0,166,149);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	line-height: 30px;
	font-size: 15px;
	margin-left: 10px;
	border-radius: 3px;
	color: #00dfce;
}

.fa-search {
	margin-right: 10px;
	color: #fff;
}

.nav_user {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-left: 5px;
}

.fa-user-o {
	margin-bottom: 2px;
	font-size: 16px;
}

.naviclass {
	height: 180px;
	border-bottom: 1px solid #e0d9cf;
}

.class_info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 20px;
}

.class_info span {
	color: #9f9f9f;
	margin-top: 5px;
}

.class_pic {
	width: 40px;
	height: 40px;
}

.shopping_guide {
	height: 165px;
	border-top: 1px solid #e0d9cf;
	border-bottom: 1px solid #e0d9cf;
	padding-right: 10px;
}

.left-guide {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-bottom: 5px;
	margin-top: 7px;
	margin-bottom: 7px;
	padding-top: 5px;
	
}

.guide_info1, .guide_info2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
}

.guide_info1 strong{
	font-weight: bold;
	margin-bottom: 6px;
	font-size: 15px;
}

.guide_info1 small{
	margin-bottom: 4px;
	color: #555;
}

.guide_info2 small {
	color: #777;
}

.left-guide_pic, .guess_pic{
	height: 90px;
	width: 90px;
	border: 1px solid #c1c1c1;
}

.right-top-guide1 {
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	margin-top: 6px;
	padding-left: 30px;
	border-bottom: 1px solid #e0d9cf;
}

.right-top-guide2 {
	height: 75px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	margin-top: 6px;
	padding-bottom: 4px;
	border-bottom: 1px solid #e0d9cf;
}

.right-top-guide1 {
	border-left: 1px solid #e0d9cf;
}

.right-guide_pic, .guide2_pic {
	height: 65px;
	width: 65px;
	border: 1px solid #c1c1c1;
}

.right-bottom-guide1 {
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	border-right: 1px solid #e0d9cf;
	border-left: 1px solid #e0d9cf;
}

.right-bottom-guide1 strong {
	align-self: flex-start;
	margin-left: 15px;
	margin-bottom: 5px;
}

.right-bottom-guide2 {
	height: 75px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding-top: 7px;
}

.bottom-guide_pic {
	height: 40px;
	width: 40px;
	border: 1px solid #c1c1c1;	
}

.clock {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.time {
	background-color: #4C4C4C;
	width: 20px;
	height: 15px;
	border-radius: 3px;
	text-align: center;
	line-height: 15px;
	font-size: 12px;
	color: #fff;
}

.shopping_guide2 {
	height: 82px;
	border-top: 1px solid #e0d9cf;
	border-bottom: 1px solid #e0d9cf;
}

.guide2-1, .guide2-3 {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding-left: 20px;
}

.guide2-2, .guide2-4 {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-right: 5px;
}

.guide2-2 {
	border-right: 1px solid #e0d9cf;
}

.guesslike {
	height: 40px;
	border-top: 1px solid #e0d9cf;
}

.guess_head {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	font-size: 18px;
	line-height: 40px;
}

.guess_item {
	height: 110px;
	border-top: 1px solid #e0d9cf;
	margin: 0;
}

.guess_info {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	padding: 10px 0 10px 0;
}

.guess_des {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: flex-start;
	margin-left: 10px;
}

.guess_des strong {
	margin-bottom: 5px;
	font-size: 16px;
}

.guess_des small {
	color: #afafaf;
	margin-bottom: 20px;
}

.price {
	margin: 0;
}

.priceinfo {
	font-size: 20px;
	color: #00c5ae;
}

.yuan {
	font-size: 14px;
	color: #00c5ae;
}

.label-discount {
	border: 1px solid #f0ad4e;
	background: #fff;
	color: #f0ad4e;
	font-size: 12px;
	border-radius: 3px;
	padding: 2px;
}

.guess_sale {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	font-size: 12px;
	line-height: 10px;
	margin-top: 90px;
	color: #afafaf;
}

.getmore {
	height: 40px;
	font-size: 16px;
	line-height: 40px;
	background: #91c6ea;
	color: #00b3d1;
}

.left-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.right-info {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
}

.fa-angle-right {
	font-size: 16px;
	line-height: 40px;
}


.superscript-bow {
  width: 60px;
  height: 60px;
  overflow: hidden;
  position: absolute;
  right: -6px; 
  left: -1px;
  top: 9px;
  z-index: 2;
}

.superscript {
  font: bold 13px Sans-Serif;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  position: relative;
  padding: 1px 0;
  left: -47px;
  top: 12px;
  width: 140px;
  background-color: #00c5ae;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  letter-spacing: 0.5px; }

.superscript:before, .superscript:after {
  content: "";
  border-top: 4px solid #4e7c7d;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  bottom: -4px; }

.superscript:before {
  left: 0px; }

.superscript:after {
  right: 0; }













