html {
	background-color: #f2f2f2;
}

.ui-box-container {
	display: flex;
	flex-flow: row wrap;
	width: 1220px;
	height: 810px;
	margin: 20px;
	border: 1px solid black;
	justify-content: center;
	align-content: space-around;
}

.ui-box {
	display: flex;
	width: 390px;
	height: 370px;
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 8px;
	margin-bottom: 8px;
	border: 1px solid #e3e3e3;
	flex-flow: column;
}

.ui-box-img {
	display: flex;
	flex-grow: 3;
	width: 390px;
	height: 260px;
	background-color: #e6e6e6;
	/*border: 1px solid black;*/
}

.ui-box-content {
	display: flex;
	width: 390px;
	height: 110px;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	border-top: none;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.ui-cnt-title {
	display: flex;
	width: 370px;
	height: 20px;
	margin: 4px;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	justify-content: flex-start;
	align-items: center;
}

.ui-cnt-title p {
	margin-left: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: black; 
	/*font-weight: bold;*/
}

.ui-cnt-info {
	display: flex;
	width: 370px;
	height: 20px;
	margin: 4px;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	justify-content: flex-start;
	align-items: center;
}

.ui-cnt-info p {
	margin-left: 8px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	color: #f40043; 
	/*font-weight: bold;*/
}

.ui-cnt-info p span {
	margin-left: 5px;
	color: #b6bdca;
}
.ui-cnt-proinfo {
	display: flex;
	width: 370px;
	height: 30px;
	margin: 5px;
	background-color: #ffffff;
	/*border: 1px solid black;*/
	align-items: center;
	justify-content: space-between;
}

.ui-proinfo-price {
	display: flex;
	height: 25px;
	align-items: flex-end;
}

.ui-price-real {
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: Arial;
	line-height: 20px;
	color: #f40043; 
	font-weight: bold;
}

.ui-price-real span {
	font-size: 15px;
	line-height: 15px;
}

.ui-price-origin {
	margin-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 10px;
	text-decoration: line-through;
	color: #b6bdca; 
}

.ui-proinfo-sales {
	display: flex;
	height: 25px;
	align-items: flex-end;
}

.ui-proinfo-sales p {
	/*margin-right: 10px;*/
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 10px;
	color: #b6bdca; 
}

.ui-proinfo-sales p span {
	font-weight: bold;
	font-family: Arial;
	color: #f4004e;
}



